#contact{
	width: 750px;
  margin: 0 auto;
}
.title{
	background: -moz-linear-gradient(top, #f5f5f5, #eaeaea);
	background: -webkit-linear-gradient(top, #f5f5f5, #eaeaea);
	border-top: thin solid #000;
	border-bottom: thin solid #000;
	padding: 10px 0 10px 30px;
	margin-bottom: 10px;
  font-size: 16px;
}
#contact p{
	height: 25px;
	padding-left: 15px;
}
dl{
	width: 750px;
	margin: 20px auto;
}
dt{
	float: left;
	width: 150px;
	font-size: 14px;
	line-height: 34px;
}
dd input{
	width: 400px;
	font-size: 16px;
	margin: 5px 0;
}
dd textarea{
	resize: none;
	width: 645px;
	height: 200px;
	margin: 5px 0;
}
#btn{
	display: block;
	width: 100px;
	font-size: 16px;
	margin: 20px auto;
	cursor: pointer;
}
#deta{
	width: 100%;
	margin-bottom: 30px;
}
#deta h2{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
#deta table{
	width: 100%;
}
#border1{
	border-bottom: thin solid #000;
}
.border2{
	border-bottom: thin solid #c0c0c0;
}
#deta th{
	font-weight: bold;
	padding-right: 5px;
}
.update{
	width: 40px;
	height: 20px;
	background-color: #29aae3;
	border-radius: 3px;
	cursor: pointer;
	font-size: 10px;
	color: white;
}
.delete{
	width: 40px;
	height: 20px;
	background-color: red;
	border-radius: 3px;
	cursor: pointer;
	font-size: 10px;
	color: white;
}
.update:hover, .delete:hover{
	background-color: #c0c0c0;
	color: black;
}
